---
title: "Verification and validation"
weight: 1
# bookFlatSection: false
# bookToc: true
# bookHidden: false
# bookCollapseSection: false
# bookComments: false
# bookSearchExclude: false
---

## Summary

> Providing quality assured analysis means that the following must all be appropriately addressed:
> * that the engagement between the analyst and the stakeholders have been
effectively managed to ensure an proportionate amount of effort goes into an
analytical project
> * that confidence has been provided that the analytical output is fit-for-purpose and
that there needs to be verification and validation of the analysis
> * that the uncertainties and risks associated with the analysis have been understood,
quantified where appropriate and managed actively

## RIGOUR

* Repeatable
    * For an analytical process to be considered ‘valid’ it might reasonably be expected
that for the “same” inputs and constraints the analysis produces the “same” outputs
* Independent
    * analysis that is free of prejudice or bias. In doing so, care should
be taken to appropriately balance the views across all stakeholders and experts
* Grounded in reality
    * Quality analysis takes the commissioner and analyst on a journey as
views and perceptions are challenged and connections are made between the analysis and
its real consequences
* Objective
    * Effective engagement and suitable challenge reduces potential bias and enables the
commissioner and the analyst to be clear about the interpretation of the analytical results.
* Uncertainty-managed
    * Uncertainties have been identified, managed and communicated
throughout the analytical process
* Robust
    * Provide the analytical result in the context of residual uncertainty and limitations in
order to ensure it is used appropriately.